<div>
  <a href="/sessions/new">Login!</a>
</div>

<% @articles.each do |article| %>
  <% if article.user.id == session[:user_id] %>
    <div>
      <!-- inline styles are awful. -->

      <h1 style="display: inline"><%= article.title %> </h1>

      <span class="author">
        by <%= article.user.username %>
      </span>
    </div>
  <% end %>
<% end %>
