<div>
  <a href="/sessions/new">Login!</a>
</div>

<% @articles.each do |article| %>
  <% if article.user == current_user %>
    <%= erb :_article, locals: { article: article } %>
  <% end %>
<% end %>
